
<div class="overlay">
   <!-- LOGN IN FORM by Omar Dsoky -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
   <center><h2>welcome to advance job search portal</h2></center>
   <form action="/" method="post">
      <!--   con = Container  for items in the form-->

      <div class="con">
      <!--     Start  header Content  -->
      <header class="head-form">
         <!--     A welcome message or an explanation of the login form -->
         <h3>Select your options here</h3>
      </header>
      <!--     End  header Content  -->
      <br>
      <div class="field-set">
                    
           <br>
           <a href="/wfo">Work from office</a>
           <br><br> <a href="/wfh">Work from home</a>
         <br><br>
        
   <!--        buttons -->
   <!--      button LogIn -->
   <br><br>
      
     <!-- End Form -->
   </form>
   </div>