<div class="overlay">
    <!-- LOGN IN FORM by Omar Dsoky -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wfh.css') }}">
    <center><h2>Work from home job links page</h2></center>
      
    <form action="/wfh_mail" method="post">

       <div class="con">
       <!--     Start  header Content  -->
       <header class="head-form">
          <!--     A welcome message or an explanation of the login form -->
       </header>
       <!--     End  header Content  -->
       <br>
       <div class="field-set">
         <center>
          <h3>Enter your primary skill here</h3>
            <!--   user name Input-->
             <input class="form-input" id="txt-input" name="skill" type="text" placeholder="Ex. Python,java" required>
         
          <br><br>
          <h3>Enter your E-mail here</h3>
          <input class="form-input" id="txt-input" name="email" type="text" placeholder="Ex.abc@gmail.com" required>
         
    <!--        buttons -->
    <!--      button LogIn -->
          <button class="log-in"> Submit </button>
    <br><br></center>
      <!-- End Form -->
    </form>
    <center>(*Once you click the submit button the job links are directly send  to your  email)</center> <br>
     <center> <h3>If the web page is loading and it shows no error means the job links are sending to your email id. Once the process is done it will automatically logged out.</h3>
      </center>
    </div>